/* Regole Generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     

}

img{
    width: 16%;
}
body{
    height: 100vh;
    font-family:sans-serif;
    background-color: black;
    
    
}
#up-banner {
    display: flex;
    justify-content: flex-end;
    padding: 6px 10px;
    
}

.speaker{
   color:white;
   margin-right: 15px;
}

.btn{
    background-color: #4a4a4a;
    color: white;
    padding: 5px;
    border-radius: 8px;
    
}

#extend{
    
   

}
.monitor {
   
    background-color: black;
    width: 91%;
    height: 100vh;
    margin: auto;
    /* display: flex; */
    padding: 20px 20px;
    overflow: auto;
}

.card{
    width: 100%;
    
    position: relative;
    /* background-size: cover; */

    
    
}
.phone,.nome{
    position: absolute;
    color: white;
    z-index: 1;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
   
}

.phone{
bottom:0;
left: 0;
}
.nome {
    bottom: 0;
    left: 26px;
}
#banner-down{
    height: 70px;
    background-color: gray;
}