/* Regole Generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     

}

img{
    width: 12%;
}
body{
    height: 100vh;
    /* DEBUG */
    background-color: blue;
    
}
#up-banner {
    display: flex;
    justify-content: flex-end;
    padding: 6px 10px;
    
}

#speaker{
    /* DEBUG */
    background-color: yellow;
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

#extend{
    /* DEBUG */
    background-color: bisque;
    width: 50px;
    height: 50px;

}
.monitor {
   /* DEBUG */
    background-color: black;
    width: 91%;
    height: 100vh;
    margin: auto;
    /* display: flex; */
    padding: 20px 20px;
    overflow: auto;
}

.card{
    width: 100%;
    /* background-size: cover; */
    
    
}
#banner-down{
    height: 70px;
    background-color: gray;
}