/* Regole Generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     

}

img{
    width: 16%;
    padding: 2px;
}
   /*Regole Header e body  */
.big-container{
    height: 100vh;
    font-family:sans-serif;
    background-color: black;
    
    
}
#up-banner {
    display: flex;
    justify-content: flex-end;
    padding: 15px 10px;
    
}

.speaker{
   color:white;
   margin-right: 15px;
}

.btn-top{
    background-color: #4a4a4a;
    color: white;
    padding: 5px;
    border-radius: 8px;
    
}

#extend{
    
   

}

   /* Regole Contenuto */
.monitor {
   
    background-color: black;
    height:70vh;
    margin: auto;
    padding: 20px 20px;
    overflow:auto;
}

.card{
    width: 100%;
    
    position: relative;
   

    
    
}
.phone,.nome{
    position: absolute;
    color: white;
    z-index: 1;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
   
}

.phone{
bottom:0;
left: 0;
}
.nome {
    bottom: 0;
    left: 26px;
}
/* Parte Inferiore */

footer{
    height: 130px;
    background-color: #222222
}

#bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100vw;
    background-color: #222222;
    border-bottom: white solid 1px;
}

#left-bottom, #center-bottom {
    display: flex;
    align-items: center;
}

.btn {
    padding: 10px;
}

.logo {
    font-size: 20px;
    color: white;
    text-align: center;
}

#share {
    color: lime;
}

.caption {
    color: white;
   font-size:  12px;
}

.arrow {
    color: white;
    font-size: 13px;
}

#right-bottom > div {
    height: 75px;
    line-height: 75px;
    width: 125px;
    text-align: center;
    vertical-align: center;
    background-color: rgb(128, 128, 128, 0.5);
    color: red;
    font-weight: bold;
}